* {
    font-family: "poppins", sans-serif;
}

.navbar {
    position: sticky;
}


nav {
    display: flex;
    border: 1px solid #abb8c3;
    margin: 20px 10px;
    position: fixed;
    background-color: #f2f0ec;
    border-radius: 8px;
}

.logo img {
    width: 116px;
    height: 52px;
    margin: 8px 7px;
}

.right ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 9px 26px;

    font-weight: bold;

}

@media (width <=500px) {
    .navbar {
        flex-direction: column;
    }

    .right ul {

        flex-direction: column;
        gap: 20px;
        left: 20px;
    }

    .logo img {
        margin-left: 25vw;
        width: 150px;
        height: 60px;
        margin-bottom: 0px;
    }
}

.navbar>.right>ul a:hover {

    cursor: pointer;
    color: #22425c;
    transform: scale(1);
}

.right ul li a {
    text-decoration: none;
    color: #4ca7f1;
}

.right ul li img {
    margin-left: 5px;
}



.right ul li {
    padding: 4px 26px;
}

.btn-download {
    border: none;
    background-color: #ffd741;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 550;
    font-family: "Poppins", sans-serif;

}

.btn {
    border: none;
    background-color: #ffd741;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 550;
    font-family: "Poppins", sans-serif;
    width: 268px;

}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.head {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 20px;
}

.middle .para {
    width: 500px;

}

.download_data span {
    font-size: 22px;
    font-weight: 500;
    color: grey;
    margin
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media (width <=900px) {
    .grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .item {
        margin: 20px;
    }
}


.btn1 {
    border: none;
    background-color: #ffd741;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 550;
    font-family: "Poppins", sans-serif;
    width: 189px;
    cursor: pointer;


}

.btn1:hover {
    color: #d2b54f;
}

.btn2:hover {
    color: #8f99a2;

}

.btn2 {
    border: 1px solid grey;
    background-color: #f2f0ec;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 550;
    margin: 0px 10px;
    width: 150px;
    font-family: "Poppins", sans-serif;
}

.item {
    width: 377px;
    padding: 20px;
    background-color: #f2f0ec;
    border-radius: 20px;
    height: 124px;
    margin: 20px 20px;
}

.item>div {
    text-align: center;
    margin-bottom: 14px;
    font-size: 19px;
    font-weight: 500;
}

.form {
    background-color: black;
    position: relative;

}

.sign-up {
    width: 425px;
    box-sizing: border-box;
    padding: 38px 20px;
}

.sign-up>div {
    font-size: 29px;
    font-weight: 600
}

#data-sub {
    color: rgb(14, 138, 239);
    font-size: 22px;
}

.form input {
    width: 250px;
    position: absolute;
    left: 79px;
    right: 20px;
    border-radius: 4px;
    bottom: 49px;
    height: 20px;
    text-align: center;

}

.form label {
    color: white;
    margin-left: 80px;
}

.sign-btn {
    position: absolute;
    bottom: 14px;
    left: 138px;
    border-radius: 7px;
    padding: 4px 26px;
    font-size: 13px;
    font-weight: 500;
    background-color: #ffd741;
}

footer {
    position: relative;
    border: none;
    border-radius: 10px;
    background-color: rgb(13, 13, 13);
    color: white;
    padding: 20px 20px;
    margin: 16px 31px;

}

blockquote {
    font-size: 20px;
    font-weight: 500;
}

.top {
    display: flex;
    margin: 16px 0px;
}

@media (width <=900px) {
    .top {
        flex-direction: column;
    }

    .right-list {
        margin: 15px 58px;
    }

    .footer {
        width: 800px;
        overflow: auto;
    }
}

.left img {
    margin: 3px 36px;
}

.bottom {
    position: absolute;
    right: 15px;
    margin: 0px 0px;
    font-size: 13px;
    bottom: 10px;

}

.right-list {
    display: flex;
    gap: 20px;
}

h4 {
    margin: 0px 10px;
}

.links a {
    text-decoration: none;
    color: rgb(204, 201, 201);
    font-size: 13px;
}

.links a:hover {
    color: rgb(86, 85, 85);
    cursor: pointer;

}

.links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
}

.left p {
    font-size: 13px;
}



.top>.left {
    width: 500px;
    margin: 17px 47px;
}